language: csharp

dotnet: 3.1.301
mono: none
sudo: false

git:
   depth: false
  
addons:
  sonarcloud:
    organization: "ita-social-projects"
    
before_script:
    - dotnet tool install --global dotnet-sonarscanner --version 4.10.0
    - export PATH="$PATH:$HOME/.dotnet/tools"
    
script:
    - dotnet sonarscanner begin /o:ita-social-projects /k:ita-social-projects-bookcrossing-back-end /d:sonar.cs.vstest.reportsPaths="**/TestResults/*.trx" /d:sonar.host.url=https://sonarcloud.io /d:sonar.exclusions=src/BookCrossingBackEnd/Migrations/**
    - dotnet build src/BookCrossingBackEnd.sln -c Release
    - dotnet test src/ApplicationTest/ApplicationTest.csproj --logger:trx /p:CollectCoverage=true
    - dotnet sonarscanner end
 
deploy:
    provider: azure_web_apps
    verbose: true
    on:
        develop
